body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


section{
  display: flex;
  justify-content: center;
  text-align: center;
}
.section1 textarea{
  margin: 10px;
}
.section2 button{
 margin: 5px;
 width: 100px;
 height: 25px;
 background-color: rgb(198, 190, 190);
}